@charset 'UTF-8';

/* Initialisation */

body{
	margin: 0px;
	padding: 0px;
}

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.row{
	margin-bottom: 20px;
}

.table td{
	vertical-align: middle;
}

.btn-danger a, .btn-primary a{
	color: white;
}

.tab-content .tab-pane{
	padding-top: 20px;
}

.jumbotron{
	height: 250px;
}

.panel-body .glyphicon{
	font-size: 5em;
	text-align: center;
	width: 100%;
}

.panel-body h3{
	text-align: center;
}

.panel-collapse .btn{
	margin-top: 20px;
}

.form-horizontal label{
	vertical-align: middle;
}

.panel-collapse .form-horizontal .btn{
	margin-top: 0px;
}

/* Menu */



/* Pages */

