@charset 'UTF-8';

/* Initialisation */

body{
	margin: 0px;
	padding: 0px;
}

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Menu */



/* Pages */

